html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#sketchArea {
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    width: 502px;
    height: 502px;
}

.sketchCell {
    /* background-color: red; */
}